modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["cmake", "gcc-arm-embedded"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Sensor Node"

[[workflows.workflow]]
name = "Sensor Node"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd sensor_node && mkdir -p build && cd build && cmake .. && make -j4 && ./sensor_node"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "cd sensor_node && mkdir -p build && cd build && cmake .. && make -j4 && ./sensor_node"]
