/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;
    };

    /* Define our sensor node device */
    sensor_node0: sensor-node {
        compatible = "sensor-node";
        status = "okay";
    };
};

&uart0 {
    current-speed = <115200>;
    status = "okay";
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};