/ {
	/* Add overlay for sensor node communication */
	chosen {
		zephyr,console = &uart1;
		zephyr,shell-uart = &uart1;
	};

	sensor_node: sensor_node {
		compatible = "sensor-node";
		status = "okay";
		
		interrupt-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
	};

	aliases {
		sensor-uart = &uart0;
		console-uart = &uart1;
	};
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
};

&uart1 {
	status = "okay";
	current-speed = <115200>;
};
