# Copyright (c) 2023 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

# Source common USB sample options used to initialize new experimental USB
# device stack. The scope of these options is limited to USB samples in project
# tree, you cannot use them in your own application.
# source "samples/subsys/usb/common/Kconfig.sample_usbd"

source "Kconfig.zephyr"

menuconfig CONSOLE_TEST_APP
    bool "Console Test Application"
    default y
    depends on DT_HAS_CUSTOM_SENSOR_NODE_ENABLED
    help
      Enable the console test application.

if CONSOLE_TEST_APP

config CONSOLE_TEST_APP_INIT_PRIORITY
    int "Console test app init priority"
    default 90
    help
      Application initialization priority.

endif # CONSOLE_TEST_APP
