&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    tsl2591@29 {
        compatible = "tsl2591";
        reg = <0x29>;
        label = "TSL2591";
    };

    bme680@76 {
        compatible = "bme680";
        reg = <0x76>;
        label = "BME680";
    };
};

&adc0 {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

    channel@0 {
        reg = <0>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,input-positive = <0>;
        zephyr,resolution = <12>;
    };
};

/ {
    mcp9700 {
        compatible = "mcp9700";
        io-channels = <&adc0 0>;
        vref-mv = <3300>;
        label = "MCP9700";
    };
}; 